*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body{
    background-color: aquamarine;

}

Main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 30px;
    box-shadow: 3px 3px 5px black;


}

h1{
    font-size: 2cm;
    color:black;
}

h2{
    font-size: 1.5cm;
    color:black;

}
Img.lado{
    float: right;

}

a{
    text-decoration: none;
    font-weight: bold;
    color:cornflowerblue
}

a:hover {
    text-decoration: underline;
    color:darkblue

}